@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto+Mono:wght@500&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: auto;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    color: #f5f5f5;
    background-color:#0f0f0f;
    scroll-behavior: smooth;
}

nav{
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    background-color: #0f0f0f;
    position:fixed;
    z-index:10;
    margin:auto;
    transition: all 0.5s;
}

.fit{
    width:1050px;
}

.logo img{
    height:50px;
}

#main-page{
    width:1000px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-text{
    width:550px;
    margin-top:140px;
}

.sub-title{
    font-family:"Roboto Mono", monospace;
    letter-spacing: 7px;
    font-size:1.5rem;
    margin-top:50px;
    margin-bottom:25px;
    color:#ffc01e;
}

.text{
    line-height:35px;
    font-weight: 300;
}

.project-details{
    padding-top:50px;
    padding-bottom:50px;
    padding-left:30px;
    margin-top:175px;
    width:350px;
    height:855px;
    border:1.5px solid #777777;
    border-radius:10px;
}

.cat{
    margin-bottom:30px;

}

.cat-title{
    font-family:"Roboto Mono", monospace;
    color:#90DEFF;
    margin-bottom:15px;
    letter-spacing:5px;
}

.cat-text{
    font-weight: 300;
}

.members{
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.mem-img img{
    margin-left:-3px;
    height:70px;
}

.mem-details{
    margin-left:15px;
}

.mem-name{
    margin-bottom:5px;
}

.mem-rollno{
    font-size:0.9rem;
    color:#929292;
}